<app-menu></app-menu>

<h1 class="title">Crea tu propio evento</h1>
<div class="container-form">

  <form [formGroup]="formEvent" (ngSubmit)="onSubmit()">

    <div class="form-group name-event">
      <label>Nombre del evento</label>
      <input pInputText formControlName="name" [maxLength]="30" name="name"
        [ngClass]="{'ng-invalid ng-dirty': name && name.invalid && (name.dirty || name.touched)}" />
      @if(name && name.invalid && (name.dirty || name.touched)){
      @if(name.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }
    </div>

    <div class="form-group">
      <label>Dia</label>
      <p-calendar [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" formControlName="day" [style]="{
          'width': '265px'
      }" [ngClass]="{'ng-invalid ng-dirty': day && day.invalid && (day.dirty || day.touched)}" />

      @if(day && day.invalid && (day.dirty || day.touched)){
      @if(day.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }
    </div>

    <div class="form-group">
      <label>Hora</label>
      <p-calendar [iconDisplay]="'input'" [showIcon]="true" [timeOnly]="true" inputId="templatedisplay"
        formControlName="hour" [style]="{
          'width': '265px'
      }" [ngClass]="{'ng-invalid ng-dirty': hour && hour.invalid && (hour.dirty || hour.touched)}">
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-clock pointer-events-none" (click)="clickCallBack($event)"></i>
        </ng-template>
      </p-calendar>

      @if(hour && hour.invalid && (hour.dirty || hour.touched)){
      @if(hour.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }

    </div>

    <div class="form-group">
      <label>Ubicación</label>
      <input pInputText formControlName="address"
        [ngClass]="{'ng-invalid ng-dirty': address && address.invalid && (address.dirty || address.touched)}"
        name="address" [style]="{
        'width': '265px'
    }" />

      @if(address && address.invalid && (address.dirty || address.touched)){
      @if(address.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }

    </div>

    <div class="form-group">
      <label>Estado del evento</label>
      <p-dropdown [options]="stateEvent" optionLabel="name" optionValue="id" formControlName="state" [style]="{
        'width': '265px'
    }" [ngClass]="{'ng-invalid ng-dirty': state && state.invalid && (state.dirty || state.touched)}" />

      @if(state && state.invalid && (state.dirty || state.touched)){
      @if(state.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }
    </div>

    <div class="form-group textarea">
      <label>Detalle del evento</label>
      <textarea rows="5" cols="30" pInputTextarea formControlName="details"
        [ngClass]="{'ng-invalid ng-dirty': details && details.invalid && (details.dirty || details.touched)}">
    </textarea>
    @if(details && details.invalid && (details.dirty || details.touched)){
      @if(details.errors?.['required']){
      <small id="username" class="invalid">
        campo vació.
      </small>
      }
      }
    </div>

    <button pButton pRipple label="Iniciar" class="submit">
    </button>

  </form>
</div>

<p-toast />
