<app-menu></app-menu>

<h1>Perfil</h1>
<div class="container-form">
  <form [formGroup]="formProfile" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" formControlName="name" [maxLength]="20" pInputText [style]="{
        'width': '100%'
      }" [disabled]="getRol() === 'user'">
    </div>

    <div class="form-group">
      <label for="lastname">Apellido</label>
      <input type="text" formControlName="lastName" pInputText [style]="{
        'width': '100%'
      }" [disabled]="getRol() === 'user'">
    </div>

    <div class="form-group">
      <label for="username">Nombre de usuario</label>
      <input type="text" formControlName="username" pInputText [style]="{
        'width': '100%'
      }" [disabled]="getRol() === 'user'">

    </div>

    @if (getRol() === 'admin') {
    <button pButton pRipple label="Editar" class="submit">
    </button>
    }

  </form>
</div>

<p-toast />