/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";


:root{
  --color-primary: #e4e2e2;
  --color-blue: rgba(58, 61, 255, 0.932);
  --color-text: #736363;
  --color-title: rgb(69, 116, 219);
  }

*{
  box-sizing: border-box;
}



body{
  background-color: var(--color-primary);
  color: #1d1c1c;
  margin:0;
  height: 100vh;
}

button{
 border: none;
 background:  none;;
}
